@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth" style="padding-right:60px;">
            <a href="/swagger" target="_new">OpenApi</a>&nbsp;
            <a href="http://seq.ad.uit.no:5341" target="_blank">Logger</a>&nbsp;
            <LoginDisplay />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
